body{
    /* background-color: #A91079; */
background-image: url("https://media.istockphoto.com/photos/guitar-and-blank-grunge-stage-background-picture-id613766442?k=20&m=613766442&s=612x612&w=0&h=lJ4ulJcNxwpNRsXvFGaDNKe-XaOGPfhFMOEl_7BypBE=");
/* height: 100%; */
background-size: cover;

}
#kor{
    position: relative;
    right: 150px;
    font-size: 30px;
    color: coral;
}
#koral{
    color: white;
    padding-left: 20px;
    font-size: 50px;
}
#header{
    width: 100%;
    height: 100px;

    /* text-align: center; */
    /* color: aliceblue; */
    margin-bottom: 20px;
    /* line-height: 100px; */
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    padding: 0px 20px;

    /* padding: top bottom px  left right px */
    align-items: center;

}

nav ul{
    list-style: none;
    display: flex;
}
nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 10px;
    transition: .5s;
    position: relative;
    right: 300px;
    transform: translatex(-50%);
    
    text-decoration-color: coral;

    
}

nav ul li a:hover{

    
    color: coral;
    text-decoration: underline;

}
#search{
    position: relative;
    right: 200px;
}
.cart{
    position: relative;
    right: 80px;
    top: 20px;
    
}
#navi{
    width: 40px;
    height: 40px;
    position: relative;
    top: 15px;
    right: 100px;
}
.head1{
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;

}

.prev{
    position: absolute;
    top: 40%;
    font-size: 25px;
    font-weight: bold;
    color: antiquewhite;
    left: 20px;
}
.next{
    position: absolute;
    top: 40%;
    
    font-size: 25px;
    font-weight: bold;
    color: antiquewhite;
    right: 20px;
}
.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #303841;
    transition: .5s;
    z-index: 10;
}
.nav-btn:hover{
    background-color: coral;
}
.head2{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
}
.btns{
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    border: 1px solid white;
    
    position: relative;
    top: 80px;
    left: 600px;
    background-color: transparent;
}
.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 14px;
    background: coral;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    border: 1px solid white;
    
    position: relative;
    top: 80px;
    left: 600px;
  }
  .btns:hover {
    background: coral;
    text-decoration: none;
  }
  .btn:hover {
    background: coral;
    text-decoration: none;
  }






  ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
  }
  ul li{
      text-decoration: none;
      font-size: 30px;
      font-weight: bold;
      padding: 20px 20px;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    /* color: white; */
    text-align: center;
    bottom: 0px;
    z-index: 1;
  }